body {
	color: black;
	background-color: #daf7f6;
	font-family: 'Open Sans', sans-serif;
	line-height: 16px;
	font-size: 12px;

}

header {
	background-color: white;
	text-align: center;
}

h1 {
	font-size: 48px !important;
	display: inline-block;
	margin: 0;
	padding: 40px 0;
	font-family: 'Montserrat'sans-serif ;
	font-weight: bold;
	text-transform: uppercase;
}

header img{
	margin-right: 16px;
}

main {
	width: 1000px;
	margin: 0 auto;
}

.card {
	margin: 25px 0;
	overflow: auto;
}

.image {
	width: 500px;
	height: 550px;
	float: left;
}

.recipe{
	width: 500px;
	height: 550px;
	float: left;
	padding: 20px;
	background-color: white;
	box-sizing: border-box;

}

.recipe h2{
	margin-top: 0;
	color: #F16059;
	font-family: 'Montserrat';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 29px;
}

#cookies .image {
	background-image: url('../img/gluten-free-sugar-cookies.jpg');
	background-size: cover;
}

#pesto .image {
	background-image: url('../img/nut-free-pesto.jpg');
	background-size: cover;
}

#salad .image {
	background-image: url('../img/watermelon-salad.jpg');
	background-size: cover;
}


.time {
	margin-bottom: 20px;
	border: 1px solid #3B3B3B;
	overflow: auto;
}

.time div {
	float: left;
	padding-left: 6px;
	width: 33.33%;
	box-sizing: border-box;
	text-transform: uppercase;
}

.time .cook {
	border: 1px solid #3B3B3B;
}


.time img {
	vertical-align: middle;
	margin-right: 5px;
	width: 15px;
	height: auto;
}

.time-details {
	display: inline-block;
}


.time p strong{
	font-family: 'Montserrat';
}










